<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPolynomial" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8013/Services/PolynomialService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPolynomial"
                contract="PolynomialServiceReference.IPolynomial" name="NetTcpBinding_IPolynomial">
                <identity>
                    <userPrincipalName value="MSI\User" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>